*{
    margin: 0;
    padding: 0;
}


h1{
    text-align: center;
    background-color: rgb(166, 250, 222);
    color: black;
}

.main-1{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 5px;
    margin-left: 10px;
   
}

.main-1 div:hover{
    opacity: 0.8;
    transform: scale(0.95);
}
.news-1,.news-2,.news-3,.news-4,.news-5,.news-6,.news-7,.news-8,.news-9{
    display: flex;
    align-items: center;
}
.news-1 a,.news-2 a,.news-3 a,.news-4 a,.news-5 a,.news-6 a,.news-7 a,.news-8 a,.news-9 a{
    color: rgb(10, 10, 10);
    text-decoration: none;
    font-size: 18px;
    
}
.news-1 a:hover,.news-2 a:hover,.news-3 a:hover,.news-4 a:hover,.news-5 a:hover,
.news-6 a:hover,.news-7 a:hover,.news-8 a:hover,.news-9 a:hover{
    color: orangered;
    text-decoration: underline;
}
.main-sec-1,.main-sec-2,.main-sec-3,.main-sec-4,.main-sec-5,.main-sec-6,.main-sec-7,.main-sec-8,.main-sec-9{
    position: relative;
    left: 20%;
    top: 20%;
    right: 20%;
}
.a-1 p,.b-1 p,.c-1 p,.d-1 p,.e-1 p,.f-1 p,.g-1 p,.h-1 p,.i-1 p{
    line-height: 2;
    
}
